.board {
    width: 34rem;
    height: 34rem;
    border-radius: .5rem;
    border: 1rem solid $board-border-color;
    background-color: $bg-color;
    display:flex;
    flex-wrap: wrap;
    box-shadow: 0 1rem .85rem rgba(0,0,0, .65);
    //margin-bottom: 4rem;

    &__box {
        width: 4rem;
        height: 4rem;
        font-size: 3.5rem;
        text-align: center;
        line-height: 4rem;

        &--dark {
            background-color: $dark-box-color;
        }
        &--light {
            background-color: $light-box-color;
        }
    }

    @include mq(768px) {
        width: 52rem;
        height: 52rem;
        border-width: 2rem;
        border-radius: 1rem;

        &__box {
            width: 6rem;
            height: 6rem;
            line-height: 6rem;
            font-size: 5rem;
        }
    }


    &-wrapper {
        position: relative;
    }

    &__options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 2rem;
        background-color: rgba(0,0,0, .5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: opacity $t-time linear;
        

        .btn {
            color: white;
            padding: .5rem 0;
            font-size: 3rem;
            letter-spacing: 2px;
            text-shadow: 0 5px 5px #000;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}